<h1 class="text-center">Gestion de usuarios</h1>
<h3 class="text-center">Detalles del Usuario</h3>
<form action=""></form>
<div>
    <div>
        <label><b>ID: </b>{{user.id}}</label>
    </div>

<div>
    <label><b>Nombre: </b>{{user.nombre}}</label>
</div>
<div>
    <label><b>Apellido: </b>{{user.apellido}}</label>
</div>
<div>
    <label><b>Mail: </b>{{user.mail}}</label>
</div>
<div>
    <label><b>Fecha de Nacimiento: </b>{{user.fecha_nac}}</label>
</div>
<div>
    <label><b>Alias: </b>{{user.alias}}</label>
</div>

</div>